@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: fit-content;
    min-height: 1000px;
    background: rgba(0, 0, 0, 0.452);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .leftSide
{
    position: relative;
    background: rgba(102, 186, 255, 0.74);
    padding: 40px;
    text-align: right;
}
.leftSideText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.leftSideText h2
{
    color: rgba(0, 0, 0, 0.76);
    font-size: 1.8rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    line-height: 2em;
}
.leftSideText h2 span
{
    font-size: 0.7em;
    font-weight: 800;
}
.contact
{
    padding-top: 40px;
}
.title
{
    color: rgba(0, 0, 0, 0.76);
    font-weight: 600;
}
.text
{
    font-size: 0.9em;
    font-weight: 300;
}


.container .rightSide
{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}