@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: rgba(0, 0, 0, 0.753);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: fit-content;
    min-height: 1000px;
    background: rgba(0, 0, 0, 0.452);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}


/*
    Left 
    Side 
    Container 
*/
.container .leftSide
{
    position: relative;
    background: rgba(102, 186, 255, 0.74);
    padding: 40px;
    text-align: right;
    cursor: default;
}
.leftSideText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.leftSideText h2
{
    color: rgba(0, 0, 0, 0.76);
    font-size: 1.8rem;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
    line-height: 2em;
}
.leftSideText h2 span
{
    font-size: 0.7em;
    font-weight: 800;
}
.title
{
    color: rgba(0, 0, 0, 0.76);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* Contact Section */
.contact
{
    padding-top: 40px;
}
.contact ul
{
    position: relative;
}
.contact ul li
{
    position: relative;
    margin: 2px 0;
    cursor: default;
    font-size: 0.9em;
}
.contact ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.contact ul li span
{
    font-weight: 400;
}


/* Education Section */
.education
{
    padding-top: 40px;
}
.education ul
{
    position: relative;
}
.education ul li
{
    position: relative;
    margin: 2px 0;
    cursor: default;
    font-size: 0.9em;
}
.education ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.education ul li span
{
    font-weight: 400;
}


/* Skills Section */
.skills
{
    padding-top: 40px;
}
.skills ul
{
    position: relative;
}
.skills ul li
{
    position: relative;
    margin: 2px 0;
    cursor: default;
    font-size: 0.9em;
}
.skills ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
}
.skills ul li span
{
    font-weight: 400;
}

/* Interests Section */
.interests
{
    padding-top: 40px;
}
.interests ul
{
    position: relative;
}
.interests ul li
{
    position: relative;
    margin: 2px 0;
    cursor: default;
    font-size: 0.9em;
}
.interests ul li span
{
    font-weight: 400;
}
/* 
    End of 
    Left Side 
    Container 
*/


/* 
    Right 
    Side 
    Container 
*/
.container .rightSide
{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}

/* 
    End of 
    Right Side 
    Container 
*/